<main class="main">
  <section class="section1">
    <div class="heading">
      <h3>BMI Calculator</h3>
    </div>
    <div class="cnt1">
      <form (ngSubmit)="bmi(height,weight)" class="form1">
        <div class="feild1">
          <input type="number" [(ngModel)]="height" name="height" placeholder="Height in cms" id="height" required="Enter data"/>
        </div>
        <div class="feild2">
          <input type="number" [(ngModel)]="weight" name="weight" placeholder="Weight in kgs" id="weight" required/>
        </div>
        <div class="feild3">
          <input type="submit" value="Submit">
        </div>
        <div class="feild4">
          <input type="number" [(ngModel)]="BMI" name="bmi" placeholder="BMI" id="bmi" readonly/>
        </div>
        <div class="feild4">
          <input type="text" [(ngModel)]="status" name="status" placeholder="status" id="status" readonly/>
        </div>
      </form>
    </div>
  </section>
</main>